body
  font-family 'Tahoma'
  color #666
  padding 0
  margin 0

input
  font-family 'Tahoma'

h1
  display block
  font-weight normal
  background-color #AF2A73
  color #fff
  padding 20px
  margin 0

button
  padding 10px 20px
  background-color #AF2A73
  color white
  border none
  font-size 14pt
  border-radius 5px

input
  font-size 14pt
  padding 10px 10px
  margin 0 20px 0 10px
  width 300px

.page
  max-width 800px
  margin 0 auto 20px

.message-list
  padding 10px 10px 0

.message-list-container
  overflow-y auto
  height 500px
  margin-bottom 20px

.message
  list-style-type none
  margin-bottom 10px
  padding-bottom 10px
  border-bottom 1px solid #eee

.message__user
  font-size 16pt
  display inline-block
  margin 0 10px 0 0

.message__text
  font-size 10pt
  margin 5px 0

.message__date
  display inline-block
  font-size 12pt
  color #aaa

.login-form
  margin 100px auto
  width: 500px
